@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


:root {
  --text-dark: hsl(0, 0%, 3%);
  --text-light: hsl(0, 0%, 29%);
  --primary: hsl(222, 98%, 60%);
  --primary-lighter: #e1e1da;
  --primary-gradient: #9F6247;
}


a,
button {
  all: unset;
  cursor: pointer;
}

body {
  font-family: Poppins, sans-serif;
    /* background: #FFF0EE; */
    background-color: #FFF0EE;
opacity: 1;
background-image: radial-gradient(#bbbbbb 1.3px, #FFF0EE 1.3px);
background-size: 26px 26px;
}

.svgText{
  width:679px;
  height:434px;
}



.section-content {
  background-color: hsla(0, 0%, 81%, 0.252);
  backdrop-filter: blur(2px);
  padding: 2rem;
  width: 80%;
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.section-heading {
  font-weight: 600;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}
.section-heading span {
  background: #8CD4CB;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-div{
  padding: 3%;
  border-radius: 10px;
  border: 3px solid #33322E;
  box-shadow: .5rem .5rem 0  #33322E;
  background: #fadfdc;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.form-group label {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #33322E;
}
.form-group input{
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-dark);
  padding: 0.5rem;
  border: 2px solid #33322E;
  border-radius: 0.3rem;
}
.form-group input:focus {
  border: 2px solid #33322E;
}

.login-btn,
.signin-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-weight: 500;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}

.login-btn {
  color: #33322E;
  background: #F6A89E;
  border: 2px solid #33322E;
}
.login-btn:hover {
  opacity: 0.9;
}

.button__text {
  transition: all 0.2s;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}


.or-divider {
  width: 100%;
  font-weight: 600;
  color: var(--text-light);
  margin-block: 1.5rem;
  text-align: center;
  position: relative;
}
.or-divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 45%;
  background-color: var(--text-light);
}
.or-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 1px;
  width: 45%;
  background-color: var(--text-light);
}

.signin-btn {
  border: 1px solid #33322E;
}

.signin-btn:hover{

    color:#F6A89E;
}

.signin-btn object {
  width: 1.5rem;
  height: 1.5rem;
}

.note-action:hover{
  color:#9F6247;
}

.social:hover{
  color:#9F6247;
}

@media  (max-width:991px) {
  .svgText{
  width:339px;
  height:217px;
}

.form-div{
    box-shadow:none;
}
}

@media screen and (max-width: 768px) {

.form-div{
  padding:7%;

}
  .image-section {
    height: 25vh;
  }
  .section-content {
    inset: 0;
    width:100%;
    transform: translate(0, 0);
    padding: 1rem 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.section-content h1 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
.section-content p {
    font-size: 0.75rem;
  }

  .form-section {
    flex: 1;
    padding: 1rem 1rem;
  }
  .logo-container {
    margin-bottom: 1rem;
  }
  .form-wrapper > h2 {
    font-size: 1.25rem;
  }
  .form-wrapper > p {
    margin-bottom: 1rem;
  }
  .form-wrapper button {
    font-size: 0.875rem;
  }
  .or-divider {
    font-weight: 500;
    margin-block: 0.6rem;
  }
}

@media screen and (max-width: 36.25rem) {
  .container-form {
    max-width: 100%;
  }
  .form-wrapper {
    width: 100%;
  }
}